.detail-podcast-container {
    display: flex;
    margin: 30px; 
}

.detail-podcast {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex: 1;
}

.detail-podcast-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    margin-bottom: 0px;
    width: stretch;
}

.detail-podcast-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    border: #d3d3d3 1px solid;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.detail-podcast-image {
    width: 250px;
    padding: 10px;
}

.detail-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    flex:1;
    width: stretch;
}

.episodes-quantity {
    border: #d3d3d3 1px solid;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.detail-episode {
    flex:1;
}

.episodes-table {
    border: #d3d3d3 1px solid;
    margin-top: 20px;
}

.episode-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: #d3d3d3 1px solid;
    flex:1;
    padding-left: 20px;
}

td {
    padding: 10px;
    text-align: start;
}